* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #faf7f8;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.header {
    background-color: #ff4258;
    margin: auto;
    text-align: center;
    padding: 80px;
    font-size: 80px;
}
a {
    color: white;
    text-decoration: none;
}
/*Color of the link*/
a:link {
    color: white;
}
/*On anchor hover*/
a:hover {
    color: #ff4258;
    text-decoration: underline;
}
/*On achor active*/
a:active {
    color: #fc818f;
}
.para {
    text-align: center;
    font-size: 30px;
    color: black;
}
.para.small-para {
    font-size: 15px;
}

li {
    text-align: center;
}
img.diningroom {
    object-fit: cover;
    display: block;
    height: 700px;
    width: 100%;
}
.about {
    background-color: black;
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 20px;
}
.flex-container {
    display: flex;
    text-align: center;
}
.flex-container div {
    background-color: black;
    padding: 5px;
    flex: 1;
    font-size: xx-large;
}